@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Style+Script&display=swap');

@import "tailwindcss";

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  

body {
    background: #FDF7F3;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto Serif", serif;
}

P, a, button {
    font-family: "Roboto", sans-serif;
}

.launch {
    font-family: "Style Script", cursive;
}

img {
    width: 100%;
}

